
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #container{
        background-color: azure;
    }
    #text_input{
        background-color: white;
    }
    input {
        display:none;   
        width: 100%;
    }

    #input{
        background-color: aqua;


    }
    canvas{
        border: 2px solid green;
        display: block;
        align-self:;

        margin: 0 auto;
    }