
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #container{
        background-color:white;
        border-radius:10%;
        max-width: 50%;
    }
    #text_input{
        background-color: white;
        
        border-radius: 10%;
        position:relative;
        max-width: 95%;
        left:2.5%
        }
    input {
           
        width: 100%;
    }

    #input{
        background-color: white;
        border-radius: 10%;


    }
 